.header__lang-link {
  margin: 0px 0px 0px 18px;
  font-size: 18px;
  line-height: 117%;
}

@media screen and (min-width: 768px) {
    /* стили для малого смартфона */
  .header__lang-link {
    font-size: 24px;
  }
}