.photo-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  justify-content: center;
  padding: 64px 16px 64px 16px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
    /* стили для планшета */
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 97px 24px 102px 24px;
  }  
}

@media screen and (min-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    padding: 102px 48px 102px 48px;
  } 
}

@media screen and (min-width: 1280px) {
    /* стили для настольных компьютеров и ноутбуков */
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 102px 48px 92px 48px;
  }
}

@media screen and (min-width: 1440px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .photo-grid {
    padding: 102px 98px 92px 98px;
  }
}