.place__image {
  width: 320px;
  justify-self: center;
  margin: 0px -16px 0px -16px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
  .place__image {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }   
}