.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 48px 0px 64px 0px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
    /* стили для планшета */
  .lead {
    padding: 48px 0px 80px 0px;
  }
}

@media screen and (min-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
  .lead {
    padding: 51px 48px 80px 48px;
  }
}

@media screen and (min-width: 1280px) {
    /* стили для настольных компьютеров и ноутбуков */
  .lead {
    padding: 48px 148px 80px 148px;
  }
}

@media screen and (min-width: 1440px) {
    /* стили для больших настольных компьютеров и ноутбуков */
  .lead {
    padding: 48px 228px 80px 228px;
  }
}