.cover__subtitle {
  max-width: 288px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 122%;
  margin: 16px auto 0px auto;
  text-align: center;
  z-index: 1;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
    /* стили для малого смартфона */
  .cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    margin: 32px auto 0px auto;
  } 
}