.header__logo {
  width: 176px;
  margin: 28px 0px 0px 48px;
}

@media screen and (max-width: 320px) {
    /* стили для малого смартфона */
  .header__logo {
    width: 142px;
    margin: 16px 0px 0px 16px;
  }
}