.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 0px 16px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
    /* стили для планшета */
  .header {
    padding: 30px 24px 0px 24px;
  }  
}

@media screen and (min-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
  .header {
    padding: 30px 48px 0px 48px;
  } 
}

@media screen and (min-width: 1440px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .header {
    padding: 30px 128px 0px 128px;
  } 
}