.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  margin: 0px 0px 24px 0px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
  .place__paragraph {
    font-size: 18px;
    line-height: 30px;
  }  
}

@media screen and (min-width: 1280px) {
    /* стили для планшета в альбомной ориентации */
  .place__paragraph {
    margin: 0px 0px 36px 0px;
  }  
}