.intro__text {
  margin: 32px 0px 32px 0px; 
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
}

@media screen and (min-width: 768px) {
    /* стили для планшета */
  .intro__text {
    font-size: 14px;
    line-height: 24px;
  }
}