.intro {
  flex-direction: column;
  padding: 0px 0px 0px 16px;
  max-width: 288px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
    /* стили для планшета */
  .intro {
    padding: 0px 0px 0px 24px;
    max-width: 720px;
  }  
}

@media screen and (min-width: 1024px) {
  .intro {
    padding: 0px 0px 0px 48px;
    max-width: 690px;
  }  
}

@media screen and (min-width: 1280px) {
    /* стили для планшета */
  .intro {
    padding: 0px 0px 0px 148px;
  }  
}