.root {
  margin: 0px auto 0px auto;
  background: #E5E5E5;
  font-family: Inter;
  color: #FFFFFF;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

h1, h2, p {
  margin: 0px 0px 0px 0px;
}

ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style: none;
}

a {
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  text-decoration-line: none;
  z-index: 1;
}

a:hover {
  opacity: 0.2;
}