.cover {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0px 0px 0px 0px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  min-height: 200px;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover:hover::before {
    opacity: 0.8;
    transition: opacity 0.5s;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
    /* стили для планшета */
  .cover {
    min-height: 480px;
  }  
}

@media screen and (max-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
  .cover {
    min-height: 640px;
  } 
}

@media screen and (min-width: 1280px) {
    /* стили для больших настольных компьютеров и ноутбуков */
  .cover {
    min-height: 740px;
    margin: 0px 48px 0px 48px;
  } 
}

