.lead__caption {
  align-self: flex-start;
  margin: 0px 0px 0px 0px;
  padding: 8px 0px 0px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
    /* стили для малого смартфона */
  .lead__caption {
    padding: 8px 0px 0px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    padding: 8px 0px 0px 0px;
  }
}