.cover__title {
  max-width: 288px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 106%;
  margin: 33px auto 0px auto;
  text-align: center;
  z-index: 1;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
    /* стили для планшета */
  .cover__title {
    margin: 115px auto 0px auto;
    max-width: 560px;
    font-size: 72px;
  }  
}

@media screen and (min-width: 1024px) {
  .cover__title {
    margin: 195px auto 0px auto;
  } 
}

@media screen and (min-width: 1280px) {
    /* стили для больших настольных компьютеров и ноутбуков */
  .cover__title {
    margin: 245px auto 0px auto;
  }
}

