.footer {
  display: flex;
  flex-direction: column;
  padding: 64px 16px 24px 16px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
    /* стили для планшета */
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 88px 24px 24px 24px;
  }  
}

@media screen and (max-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
  .footer {
    padding: 92px 48px 24px 48px;
  } 
}