.footer {
  flex-direction: column;
  display: flex;
  width: 100%;
  padding: 97px 0px 24px 0px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
    /* стили для планшета */
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 203px 0px 24px 0px;
  }  
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 287px 0px 24px 0px;
  } 
}

@media screen and (min-width: 1280px) {
  .footer {
    padding: 337px 0px 24px 0px;
  } 
}