.intro__title {
  margin: 0px 0px 0px 0px;
  font-weight: 900;
  font-size: 32px;
  line-height: 107%;
}

@media screen and (min-width: 768px) {
    /* стили для малого смартфона */
  .intro__title {
    font-size: 54px;
  }
}